    <link rel="icon" type="image/png" sizes="96x96" href="{{ "assets/favicons/favicon-96x96.png" | absolute_url }}">
    <link rel="icon" type="image/svg+xml" href="{{ "assets/favicons/favicon.svg" | absolute_url }}">
    <link rel="shortcut icon" href="{{ "assets/favicons/favicon.ico" | absolute_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "assets/favicons/apple-touch-icon.png" | absolute_url }}">
    <link rel="manifest" href="{{ "assets/favicons/site.webmanifest" | absolute_url }}">