    <script src="{{ "/assets/scripts/bundle.js" | absolute_url }}" integrity="sha384-oI4HThlx/OS3WA3209g2zpsvaSq/B28ZppCPWM/stcC9vNVp2CKI+T4Q4iZ8aSM8" crossorigin="anonymous"></script>
    <!-- <script src="{{ "/assets/scripts/uol-cookie-control.js" | absolute_url }}" integrity="sha384-fzdiuyRSZ7gEoSKlIBRzbxr70DsLrDuhwE2KBnPcxTzB1zVQxoSu2w0RjBCpJSQr" crossorigin="anonymous"></script> -->
    <script src="{{ "/assets/theme/script.min.js" | absolute_url }}" integrity="sha384-Pt0eEJkgshL/pJ+lr4ugenHXgIH0H2TwfxPSzY2ZP+t/0EllAZ166xwD338csymX" crossorigin="anonymous"></script>
    {% include custom-foot.html %}
