    <script src="{{ "/assets/scripts/bundle.js" | absolute_url }}" integrity="sha384-fsOcAtZtrQbKA2nHrBNi6egxngxouSzebTjDg6s+hCOLZaN4CrCD8iA4cDC1D+de" crossorigin="anonymous"></script>
    <!-- <script src="{{ "/assets/scripts/uol-cookie-control.js" | absolute_url }}" integrity="sha384-fzdiuyRSZ7gEoSKlIBRzbxr70DsLrDuhwE2KBnPcxTzB1zVQxoSu2w0RjBCpJSQr" crossorigin="anonymous"></script> -->
    <script src="{{ "/assets/theme/script.min.js" | absolute_url }}" integrity="sha384-GBYlefnx/o9r8lyLbyHFUoxOekcKramRaKFnxHRYrAcrW5G5+Lx4GgQwt703uIEb" crossorigin="anonymous"></script>
    {% include custom-foot.html %}
