<form id="uol-global-masthead__search-form" class="uol-global-masthead__search-form" action="{{ "/" | absolute_url }}">
    <label class="uol-global-masthead__search-label" for="global-masthead__search-field">Search</label>
    <input class="uol-global-masthead__search-input" id="global-masthead__search-field" name="search-query"
      type="search" placeholder="Search">
    <button class="uol-global-masthead__search-submit" type="submit">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" aria-hidden="true" focusable="false">
        <path d="M20.67,18.67H19.61l-.37-.36a8.66,8.66,0,1,0-.93.93l.36.37v1.06l6.66,6.65,2-2Zm-8,0a6,6,0,1,1,6-6A6,6,0,0,1,12.67,18.67Z"></path>
      </svg>
      <span class="hide-accessible">Search this site</span>
    </button>
  </form>
