{% assign pmn = page.mainmenu | size %}
{% assign dmn = site.data[page.datafile].mainmenu | size %}
{% assign mn = site.data.navigation.mainmenu | size %}
{% if page.mainmenu && pmn > 0 %}
  {% assign navitems = page.mainmenu %}
{% elsif site.data[page.datafile].mainmenu && dmn > 0 %}
  {% assign navitems = site.data[page.datafile].mainmenu %}
{% elsif mn > 0 %}
  {% assign navitems = site.data.navigation.mainmenu %}
{% endif %}
  <nav class="uol-header-local-navigation-wrapper uol-content-container" aria-label="Site navigation">
    <ul class="uol-header-local-navigation">
      <li class="uol-header-local-navigation__item " data-label="Home">
        <a class="uol-header-local-navigation__link" href="{{ "/" | absolute_url }}"{% if page.url == "/" %} aria-current="page"{% endif %}>Home</a>
      </li>
      {% if navitems %}
        {% for navitem in navitems %}
          {% if navitem.url %}
      <li class="uol-header-local-navigation__item" data-label="{{ navitem.title | escape }}">
        <a class="uol-header-local-navigation__link" href="{{ navitem.url | absolute_url }}"{% if navitem.url == page.url %} aria-current="page"{% endif %}>{{ navitem.title | escape }}</a>
      </li>
          {% elsif navitem.items %}
      <li class="uol-header-local-navigation__item uol-header-local-navigation__item--parent" data-label="{{ navitem.title | escape }}">
        {{ navitem.title | escape }}
        <ul class="uol-header-local-navigation__sub-nav" data-title="{{ navitem.title | escape }}">
          {% for subitem in navitem.items %}
          <li class="uol-header-local-navigation__item{% if subitem.cta == 1 %} uol-header-local-navigation__item--cta{% endif %}">
            <a class="uol-header-local-navigation__link uol-header-local-navigation__link--sub-nav" href="{{ subitem.url | absolute_url }}"{% if subitem.url == page.url %} aria-current="page"{% endif %}>{{ subitem.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
          {% endif %}
        {% endfor %}
      {% endif %}
    </ul>
  </nav>
