{% assign pctas = page.sectionctas.items | size %}
{% assign dctas = site.data[page.datafile].sectionctas.items | size %}
{% assign sctas = site.data.navigation.sectionctas[page.sectionctas].items | size %}
{% if page.sectionctas and pctas > 0 %}
  {% assign ctas = page.sectionctas %}
{% elsif site.data[page.datafile].sectionctas and dctas > 0 %}
  {% assign ctas = site.data[page.datafile].sectionctas %}
{% elsif site.data.navigation.sectionctas[page.sectionctas] and sctas > 0 %}
  {% assign ctas = site.data.navigation.sectionctas[page.sectionctas] %}
{% endif %}
{% if ctas and ctas.title != "" %}
<div class="uol-section-nav-ctas">
    <h3 class="uol-section-nav-ctas__title">{{ ctas.title | escape }}</h3>
    <div class="uol-section-nav-ctas__links">
    {% for cta in ctas.items %}
        <a class="uol-button uol-section-nav-ctas__link" href="{{ cta.url | absolute_url }}">{{ cta.title | escape }}</a>
    {% endfor %}
    </div>
</div>
{% endif %}
