{% comment %}
*
*   Single banner item with with image, title, text and link
*
{% endcomment %}

{% assign banner = include.banneritem %}
{% if banner.title != "" and banner.imageurl != "" and banner.imagealt != "" and banner.text != "" and banner.linkurl != "" and banner.linktext != "" %}
                <h3 class="uol-banner__item__title">{{ banner.title }}</h3>
                <img class="uol-banner__item__img" src="{{ banner.imageurl | absolute_url }}" alt="{{ banner.imagealt | escape }}">
                <p class="uol-banner__item__lead">{{ banner.text }}</p>
                <a class="uol-banner__item__link" href="{{ banner.linkurl | absolute_url }}">{{ banner.linktext }}</a>
{% endif %}
