{% comment %}
*
*   Featured content widget for home page
*
{% endcomment %}

{% assign item = include.content %}
{% if item.title != "" and item.content != "" %}
<div class="uol-widget-container">
    <div class="uol-widget uol-widget--featured-content">
        <div class="uol-widget__head">
            <h2 class="uol-widget__title">{{ item.title | escape }}</h2>
            {% if item.lead && item.lead != "" %}
            <div class="uol-widget__lead"><p>{{ item.lead | strip_html }}</p></div>
            {% endif %}
        </div>
        <div class="uol-widget__content">
            {% if item.image && item.image.alt && item.image.alt != "" && item.image.url && item.image.url != "" %}
            <figure class="uol-featured-image">
                <img class="uol-featured-image__img" src="{{ item.image.url | absolute_url }}" alt="{{ item.image.alt | escape }}">
                {% if item.image.caption && item.image.caption != "" %}
                <figcaption class="uol-featured-image__caption">{{ item.image.caption | strip_html | escape }}</figcaption>
                {% endif %}
            </figure>
            {% endif %}
            <div class="uol-widget__content__text uol-rich-text">
                {{ item.content | markdownify }}
            </div>
        </div>
    </div>
</div>
{% endif %}
