
{% if include.content.number and include.content.number > 1 %}

{% assign np = site.posts | size %}
{% assign date_format = site.date_format | default: "%b %-d, %Y" %}
{% if np > 0 %}
<div class="uol-widget-container">
    <div class="uol-widget uol-widget--news-events">
        {% if include.content.title or include.content.lead or include.content.link %}
        <div class="uol-widget__head">
            {% if include.content.title %}
            <h2 class="uol-widget__title">{{ include.content.title }}</h2>
            {% endif %}
            {% if include.content.lead %}
            <div class="uol-widget__lead">
                <p>{{ include.content.lead | strip_html }}</p>
            </div>
            {% endif %}
            {% if include.content.showlink %}
            <a class="uol-widget__link" href="{{ "/blog/" | absolute_url }}">View all posts</a>
            {% endif %}
        </div>
        {% endif %}
        {% if np < include.content.number %}
          {% assign numberposts = np %}
        {% else %}
          {% assign numberposts = include.content.number %}
        {% endif %}
        <div class="uol-widget__content">
            <ul class="uol-cards  uol-cards--count-{{ numberposts }}{% if include.content.showimage %} uol-cards--image-layout{% endif %}" role="list">
            {% for post in site.posts %}
              {% if forloop.index > numberposts %}
                {% break %}
              {% endif %}
              {% include components/post-card-item.html content=post showexcerpt=include.content.showexcerpt showimage=include.content.showimage %}
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>

{% endif %}