---
layout: default
---

{% if site.paginate %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign date_format = site.date_format | default: "%b %-d, %Y" %}

{% include blog-menu.html %}
  <main id="main" class="uol-content-container">
    {% include breadcrumbs.html %}
    <div class="uol-col-container">
      <div class="uol-side-nav-container"></div>
      <div class="uol-page">
        <div class="uol-page__head">
          <header class="page-heading">
            <h1 class="page-heading__title">{{ page.title }}</h1>
          </header>
        </div>
        <div class="uol-page__content">
          {% if posts.size > 0 %}
          <div class="uol-results-items">
            {% for post in posts %}
              {% include post-list-item.html content=post %}
            {% endfor %}
          </div>
          {% include pagination.html %}
          {% endif %}
        </div>
      </div>
    </div>

    {% include blog-menu-ctas.html %}

  </main>

