---
layout: default
---

{% include components/banner.html %}
{% include section-menu.html %}
  <main id="main" class="uol-content-container">
    {% include breadcrumbs.html %}
    <div class="uol-col-container">
      <div class="uol-side-nav-container"></div>
      <div class="uol-page">
        <div class="uol-page__head">
          <header class="page-heading">
            <h1 class="page-heading__title">{{ page.title }}</h1>
          </header>
        </div>
        <div class="uol-page__content">
          <div class="uol-rich-text">
            {% if page.imageurl and page.imagealt %}
            <figure class="uol-featured-image">
                <img class="uol-featured-image__img" src="{{ page.imageurl | absolute_url }}" alt="{{ page.imagealt | escape }}">
            </figure>
            {% endif %}
            <div class="uol-rich-text{% if page.lead %} uol-rich-text--with-lead{% endif %}">
            {% if page.lead %}
                <p>{{ page.lead | strip_html }}</p>
            {% endif %}
            {{ content | markdownify }}
          </div>
        </div>
      </div>
    </div>

    {% include section-menu-ctas.html %}

  </main>