---
layout: default
---

{% assign datefmt = site.date_format %}
{% assign day = page.date | date: "%-d" %}
{% case day %}
  {% when '1' or '21' or '31' %}{% assign datefmt = "%A %-dst %b, %Y" %}
  {% when '2' or '22' %}{% assign datefmt = "%A %-dnd %b, %Y" %}
  {% when '3' or '23' %}{% assign datefmt = "%A %-drd %b, %Y" %}
  {% else %}{% assign datefmt = "%A %-dth %b, %Y" %}
{% endcase %}

<div class="uol-article-container uol-col-container">
    <div class="uol-side-nav-container"></div>
    <div class="uol-article uol-article--news" itemtype="http://schema.org/BlogPosting">
        <div class="uol-article__head">
            <header class="page-heading">
                <h1 class="page-heading__title" itemprop="name headline">{{ page.title | escape }}</h1>
                {% if page.categories or page.tags or page.author or page.date %}
                <dl class="page-heading__meta">
                  {% if page.categories.size > 0 %}
                    <div class="page-heading__meta__group">
                        <dt class="page-heading__meta__label">Categories</dt>
                      {% for category in page.categories %}
                        <dd class="page-heading__meta__data">{{ category }}</dd>
                      {% endfor %}
                    </div>
                  {% endif %}
                  {% if page.tags.size > 0 %}
                    <div class="page-heading__meta__group">
                        <dt class="page-heading__meta__label">Tags</dt>
                      {% for tag in page.tags %}
                        <dd class="page-heading__meta__data">{{ tag }}</dd>
                      {% endfor %}
                    </div>
                  {% endif %}
                  {% if page.author %}
                    <div class="page-heading__meta__group">
                        <dt class="page-heading__meta__label">Author</dt>
                      {% for author in page.author %}
                        <dd class="page-heading__meta__data" itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ author }}</span></dd>
                      {% endfor %}
                    </div>
                  {% endif %}
                  {% if page.date %}
                    <div class="page-heading__meta__group">
                        <dt class="page-heading__meta__label">Published</dt>
                        <dd class="page-heading__meta__data" itemprop="datePublished"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: datefmt }}</time></dd>
                    </div>
                  {% endif %}
                </dl>
                {% endif %}
            </header>
        </div>

        <div class="uol-article__content" itemprop="articleBody">
            {% if page.imageurl and page.imagealt %}
            <figure class="uol-featured-image">
                <img class="uol-featured-image__img" src="{{ page.imageurl | absolute_url }}" alt="{{ page.imagealt | escape }}">
            </figure>
            {% endif %}
            <div class="uol-rich-text{% if page.lead %} uol-rich-text--with-lead{% endif %}">
            {% if page.lead %}
                <p>{{ page.lead | strip_html }}</p>
            {% endif %}
                {{ content }}
            </div>
        </div>
        {% include page-navigation.html %}
    </div>
</div>

